@model OgrenciNotMvc.Models.EntityFramework.TBLOGRENCILER
@{
    ViewBag.Title = "YeniOgrenciEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Öğrenci Ad</label>
        <input class="form-control" type="text" name="OGRAd" />
        <div style="margin-top:10px">
            <label>Öğrenci Soyad</label>
            <input class="form-control" type="text" name="OGRSoyad" />
        </div>
        <div style="margin-top:10px">
            <label>Öğrenci Foto</label>
            <input class="form-control" type="text" name="OGRFoto" />
        </div>
        <div style="margin-top:10px">
            <label>Öğrenci Cinsiyet</label>
            @Html.DropDownList(
           "Cinsiyet",
           new[]
           {
               new SelectListItem() {Value="1",Text="Erkek"},
               new SelectListItem() {Value="2",Text="Kız"},
           },
           "Cinsiyet Seçiniz",
           new {@class="form-control"}
           )
        </div>
        <div style="margin-top:10px">
            <label>Öğrenci Kulüp</label>
            @Html.DropDownListFor(m=>m.TBLKULUPLER.KULUPID,(List<SelectListItem>)ViewBag.dgr,new { @class="form-control"})
        </div>
    
        @*<div style="margin-top:10px">
            @Html.DropDownList(
           "Şehirler",
           new[]
           {
               new SelectListItem() {Value="1",Text="Ankara"},
               new SelectListItem() {Value="2",Text="Bursa"},
               new SelectListItem() {Value="2",Text="İstanbul"},
               new SelectListItem() {Value="2",Text="İzmir"}
           },
           "Şehir Seçiniz",
           new {@class="form-control"}
           )
        </div>*@
        </div>
        <div style="margin-top:10px">
            <button class="btn btn-primary">Yeni Öğrenci Ekle</button>
        </div>
</form>

